@media only screen and (max-width: 850) {
  .yellow-vertical {
    width: 47%;
    display: inline-block;
  }
  .blue-vertical {
    width: 47%;
    display: inline-block;
  }
}

@media only screen and (min-width: 650px) {
  .top-nav ul li {
    display: inline-block;
  }
  .top-nav ul {
    text-align: center;
    padding: 0;
  }
  .top-nav ul li {
    border-top: 1px solid red;
    padding: 0;
  }
  /* .yellow-vertical {
    width: 49%;
    height: auto;
    display: inline-grid;
  }
  .blue-vertical {
    width: 49%;
    height: auto;
    display: inline-grid; */
}

.photo-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.photo-cell {
  grid-column: span 2;
}

.photo-cell:nth-child(3), .photo-cell:nth-child(4) {
  grid-column: span 1;
}

}

@media only screen and (min-width: 1000px) {
  .top-nav ul {
    text-align: right;
  }
  .top-nav ul li {
    padding-top: 1%;
    border-top: none;
  }
  .top-nav ul div {
    border-top: none;
  }
  .logo {
    float: left;
  }
  .top-nav ul li {
    border-top: none;
  }
  .photo-grid {
    display: grid;
    grid-template-columns: auto auto;
  }
  .yellow-vertical {
    width: 47%;
    height: auto;
    display: grid;
    grid-column: 1/2;
    grid-row: 2;
    display: block;
  }
  .blue-vertical {
    width: 47%;
    height: auto;
    display: grid;
    grid-column: 1/2;
    grid-row: 2;
    display: block;
  }
}
