html {
  background: white;

}

#headline {

}

.photo img {
  width: 50%;
}

@media only screen and (min-width: 768px){
  .photo{
    /* background: yellow; */
    border-style: solid;
  	border-color: blue;
  	border-width: 5px;
    padding: 5%;
  }

}

@media only screen and (min-width: 1000px){

  #gallery{
    display: table;
  }
  .photo{
    display: table-cell;
    width: 50%;
    border-style: solid;
  	border-color: blue;
  	border-width: 5px;
    padding: 5%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
  }
}
